.header_title {
  flex-grow: 1;
}

.app_body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2%;
}

/**----------------------------------------------------*/
/*-------------------Todo Form (START)--------------- */
/**----------------------------------------------------*/

.add_task_form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.add {
  height: 4.5rem;
  width: 4.5rem;
  border: 2px solid #6ea0ef;
  border-radius: 37px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: width 0.3s ease-in-out;
}

.add_input {
  height: 4.5rem;
  width: 38rem;
  border: 2px solid #6ea0ef;
  border-radius: 37px;
  display: flex;
  align-items: center;
  padding-left: 1rem;
  padding-right: 0.5rem;
  justify-content: space-between;
  transition: width 0.5s ease-in-out;
}

.task_add {
  height: 48px;
  border: none;
  width: 67%;
  font-size: large;
  background-color: ghostwhite;
}

.task_add::placeholder {
  color: gray;
  font-size: large;
}

.task_add:focus {
  outline: none;
}

.done {

  animation: pop 0.8s ease 0s 1;
}




/*-------------------Todo Form (END)--------------- */

/**----------------------------------------------------*/
/* Todo List Container (START) */
/**----------------------------------------------------*/
.title_box {
  display: flex;
  height: 50px;
  background: linear-gradient(to right, #bef9ee, #dedef7);
  margin-bottom: 13px;
  border-radius: 7px;
  align-items: center;
  justify-content: center;
  font-family: Montserrat;
  color: #4c70b1;
}


.export_pdf {
  margin-right: 4%;
  color: #237519 !important;
  padding: 5px;
}

.export_pdf:hover {
  padding: 5px;
  border-radius: 7%;
  box-shadow: -5px 2px 4px -2px rgba(128, 128, 128, 0.5),
    0px 1px 1px 0px rgba(128, 128, 128, 0.5),
    0px 1px 3px 0px rgba(128, 128, 128, 0.1) !important;
  background: linear-gradient(to right, #d2e8efb8, #ebf8ff);
  cursor: pointer;
  animation: download 1s ease-in-out 0s 1;
}

.todo_container {
  margin-top: 22px;
  width: 32% !important;
  /* padding: 16px;
  box-shadow: 2px 2px 4px -2px rgba(0, 0, 0, 0.5),
    0px 1px 1px 0px rgba(0, 0, 0, 0.5), 0px 1px 3px 0px rgba(0, 0, 255, 0.1) !important;
  border-radius: 7px; */
}

.completed_active_butttons {
  display: flex;
  justify-content: space-around;
  margin-bottom: 1rem;
  background: linear-gradient(to right, #bef9ee, #dedef7);
  border-radius: 7px;
  padding: 0.6rem;
}

.todo_list_container {
  border: 2px solid lightsteelblue;
  padding: 1rem;
  height: 21rem;
  overflow-y: auto;
  border-radius: 0.4rem;
}

.active_class {
  background-color: #3e88a2 !important;
  color: white !important;
}

.default {
  background-color: transparent !important;
  /* box-shadow: none !important; */
}

.default:hover {
  background-color: transparent !important;
  box-shadow: 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12) !important;
}

.todo_card {
  margin-bottom: 14px !important;
  box-shadow: 2px 2px 4px -2px rgba(128, 128, 128, 0.5),
    0px 1px 1px 0px rgba(128, 128, 128, 0.5),
    0px 1px 3px 0px rgba(128, 128, 128, 0.1) !important;
  background: linear-gradient(to right, #47c6ecb8, #ebf8ff);
}

.todo_card:hover {
  transform: scale(1.05);
  transition: transform 500ms ease;
  z-index: 10;
}

.todo_card_content {
  padding: 9px !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.task_name {
  width: 65%;
  overflow-x: auto;
  font-size: 1em !important;
  font-family: Montserrat !important;
  color: #251e1ee6;
}

.completed_task_name {
  width: 82%;
  overflow-x: auto;
  font-size: 1em !important;
  font-family: Montserrat !important;
  color: #251e1ee6;
}


.todo_edit,
.todo_delete {
  min-width: 40px !important;
}

/* React Transition Group */
.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.fade-leave {
  opacity: 1;
  /* transform: translate(0, 0, 0);
  transform: translate3d(0, 0, 0); */
  transform: scaleY(1);
  transition-property: transform, opacity;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.175, 0.665, 0.32, 1), linear;
}

/* React Transition Group */
.complete-enter {
  opacity: 0.01;
}

.complete-enter.complete-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.complete-leave {
  opacity: 1;
  transform: scaleY(1);
  transition-property: transform, opacity;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.175, 0.665, 0.32, 1), linear;
}

.complete-leave.complete-leave-active {
  opacity: 0.01;
  background: linear-gradient(to right,
      rgba(119, 241, 156, 0.712),
      rgba(100, 236, 95, 0.712));
  /* transform: translate(900px, 0);
  transform: translate3d(900px, 0, 0); */
  transform: scaleY(0);
  transition: opacity 500ms ease-in, transform 500ms ease-in-out,
    background 500ms ease;
}

.fade-leave.fade-leave-active {
  opacity: 0.01;
  background: linear-gradient(to right,
      rgba(226, 86, 86, 0.712),
      rgba(226, 86, 86, 0.712));
  /* transform: translate(900px, 0);
  transform: translate3d(900px, 0, 0); */
  transform: scaleY(0);
  transition: opacity 500ms ease-in, transform 500ms ease-in-out,
    background 500ms ease;
}

/* Todo List Container (END) */

/* Empty Todos */
.empty_todos {
  animation: comein 1000ms ease-in;
  background: linear-gradient(to bottom right, #a2eaffb8, #e9f7ea);
  border-radius: 7px;
  height: 281px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 26px;
  font-family: Montserrat;
  color: #256161;
  box-shadow: 2px 2px 4px -2px rgba(128, 128, 128, 0.5),
    0px 1px 1px 0px rgba(128, 128, 128, 0.5),
    0px 1px 3px 0px rgba(128, 128, 128, 0.1) !important;
}

.empty_todo_icon {
  font-size: 94px !important;
}

.empty_todo_add {
  font-size: 40px !important;
  animation: pulse 0.8s ease-in-out 0s infinite;
  cursor: pointer;
  color: #22671a !important;
  border-radius: 18px !important;
}

.empty_todo_text {
  margin-top: 4px !important;
}

.empty_todo_heading {
  margin-top: 4px !important;
  font-size: 29px !important;
  margin-bottom: 34px;
}

/*-----------------------------------------------------------*/
/* Update Modal Styles */
/*-----------------------------------------------------------*/

.todo_modal {
  display: flex;
  align-items: center;
  justify-content: center;
}

.todo_modal_content {
  background-color: ghostwhite;
  padding: 2%;
  border-radius: 60px;
  width: 40%;
  border: none;
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.todo_modal_content:focus {
  outline: none !important;
}

/* Task update input styles */
.task_update {
  flex-basis: 500px;
  border: none;
  font-size: 2em;
  background-color: ghostwhite;
  padding-right: 12px;
}

.task_update::placeholder {
  color: gray;
  font-size: 1em;
}

.task_update:focus {
  outline: none;
}

.update_btn {
  margin-left: 17px !important;
}

/*-----------------------------------------------------------*/
/* Update Priority Modal Styles */
/*-----------------------------------------------------------*/

.priority_modal {
  display: flex;
  align-items: center;
  justify-content: center;
}

.priority_box {
  width: 13%;
  background-color: ghostwhite;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 7px;
}

.priority_box:focus {
  outline: none;
}

.priority_actions {
  margin-top: 6%;
  margin-bottom: 5%;
}

/*-----------------------------------------------------------*/
/* SIGN IN STYLES */
/*-----------------------------------------------------------*/
.sign_in_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 44%;
  flex-direction: column;
}

.sign_in_icon {
  margin: 1% !important;
}

.sign_in_form {
  margin-top: 1% !important;
}

.sign_in_submit {
  margin-top: 2% !important;
  margin-bottom: 2% !important;
}

.sign_in_register {
  justify-content: center;
}

.sign_up_login {
  justify-content: center;
}



/*----------------------------------------------------------------*/
/*---------------------Loader css---------------------------------*/
/*----------------------------------------------------------------*/

.loader {
  background: ghostwhite;
  background: linear-gradient(to bottom right, rgb(189, 207, 245), rgb(219, 237, 241));
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 99999;
}

.loader-inner {
  bottom: 0;
  height: 60px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 100px;
}

.loader-line-wrap {
  animation: spin 2000ms cubic-bezier(0.175, 0.885, 0.32, 1.275) infinite;
  box-sizing: border-box;
  height: 50px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  transform-origin: 50% 100%;
  width: 100px;
}

.loader-line {
  border: 4px solid transparent;
  border-radius: 100%;
  box-sizing: border-box;
  height: 100px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 100px;
}

.loader-line-wrap:nth-child(1) {
  animation-delay: -50ms;
}

.loader-line-wrap:nth-child(2) {
  animation-delay: -100ms;
}

.loader-line-wrap:nth-child(3) {
  animation-delay: -150ms;
}

.loader-line-wrap:nth-child(4) {
  animation-delay: -200ms;
}

.loader-line-wrap:nth-child(5) {
  animation-delay: -250ms;
}

.loader-line-wrap:nth-child(1) .loader-line {
  border-color: hsl(0, 80%, 60%);
  height: 90px;
  width: 90px;
  top: 7px;
}

.loader-line-wrap:nth-child(2) .loader-line {
  border-color: hsl(60, 80%, 60%);
  height: 76px;
  width: 76px;
  top: 14px;
}

.loader-line-wrap:nth-child(3) .loader-line {
  border-color: hsl(120, 80%, 60%);
  height: 62px;
  width: 62px;
  top: 21px;
}

.loader-line-wrap:nth-child(4) .loader-line {
  border-color: hsl(180, 80%, 60%);
  height: 48px;
  width: 48px;
  top: 28px;
}

.loader-line-wrap:nth-child(5) .loader-line {
  border-color: hsl(240, 80%, 60%);
  height: 34px;
  width: 34px;
  top: 35px;
}

@keyframes spin {

  0%,
  15% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}


/** All the keyframes*/

@keyframes pop {
  0% {
    transform: scale(0);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

/* For Download as PDF */
@keyframes download {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

/* For empty Todo */

@keyframes comein {
  0% {
    opacity: 0;
  }

  70% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.09);
    -webkit-box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25);
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}